body {
    background: rgb(0, 0, 194);
    background: linear-gradient(90deg, rgba(0, 0, 194, 1) 0%, rgba(19, 31, 198, 1) 0%, rgba(144, 208, 222, 1) 100%, rgba(82, 198, 255, 1) 100%);
}

form {
    margin: auto;
}

form {
    width: 100%;
    max-width: 900px;
    text-align: center;
    border: solid 1px #c2c2c2;
    padding-bottom: 20px;
    margin-top: 20%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    border: 1px solid rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 200%;
}

p {
    font-weight: 750;
}